@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px 0;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
  min-height: 100%;
  background: center center/cover;
  background-color: #80bb70;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/grad-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 0 10px 0;
  border-radius: 15px;
  width: 300px;
  height: auto;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 60, 0, 0.19), 0 6px 6px rgba(0, 60, 0, 0.23);
  transition: all 200ms ease-out;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 19px 38px rgba(0, 60, 0, 0.30), 0 15px 12px rgba(0, 60, 0, 0.22);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list span {
  font-weight: bold;
}

.header {
  position: absolute;
  margin: auto auto;
  padding: 5px 0;
  text-align: center;
  width: 300px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 130, 0, 0.40);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.image {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
}

.information {
  background-color: white;
  margin: 0 10px;
  padding: 10px 10px;
  font-size: 14px;
  border: thin solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.interesting-fact {
  margin: 0 0;
  font-style: italic;
}